<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Pacientes </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Modificar paciente: </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Modificar paciente #{{ patient_id}}</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="name">Nombre <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="name" name="name" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="surname">Apellidos <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="surname" name="surname" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="dni">DNI <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="DNI" name="DNI" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="user">Móvil <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="movil" name="movil" type="text">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="email">Email <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="email" name="email" type="email">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Birth">Fecha de nacimiento <span
                                                class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" [(ngModel)]="fecha_nac"
                                            name="fecha_nac" type="text" matInput [matDatepicker]="picker">
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group select-gender">
                                        <label for="gender" class="gen-label">Genero<span
                                                class="login-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="gender" [value]="1" [(ngModel)]="gender"
                                                    class="form-check-input">Masculino
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="gender" [value]="2" [(ngModel)]="gender"
                                                    class="form-check-input">Femenino
                                            </label>
                                        </div>

                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="gender" [value]="3" [(ngModel)]="gender"
                                                    class="form-check-input">Mixto
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label for="education">Antecedentes médicos <span class="login-danger">*</span></label>
                                        <textarea class="form-control" [(ngModel)]="antedent" name="antedent" rows="3"
                                            cols="30"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label for="designation">Diagnóstico <span
                                                class="login-danger">*</span></label>
                                                <textarea class="form-control" [(ngModel)]="diagnostico" name="diagnostico" rows="3"
                                                cols="30"></textarea>
                                    </div>
                                </div>
                
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label for="address">Dirección <span class="login-danger">*</span></label>
                                        <textarea class="form-control" [(ngModel)]="address" name="address" rows="3"
                                            cols="30"></textarea>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label for="image" class="local-top">Foto  <span
                                                class="login-danger">*</span></label>
                                        <div class="settings-btn upload-files-avator">
                                            <input type="file"  accept="image/*"
                                                name="image" id="file" (change)="loadFile($event)" class="hide-input">
                                            <label for="file" class="upload">Elegir imagen</label>
                                        </div>
                                    </div>
                                    <div class="" *ngIf="img_pre">
                                        <img [src]="img_pre" width="250" alt="imagen usuario" srcset="">
                                    </div>
                                </div>
              <div class="col-12">

                                    <div class="form-group row" *ngIf="text_success">
                                        <div class="col-md-8 ">
                                          <div class="alert alert-warnig alert-dismissible fade show" role="alert">
                                            <strong>!!!</strong> {{text_success}}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true"> </span>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                        
                                      <div class="form-group row" *ngIf="text_validation">
                                        <div class="col-md-8 ">
                                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <strong>Exito</strong> {{text_validation}}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true"> </span>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <!-- definimos una funcion en el ts save y la aplicamos al boton-->
                                        <button type="button" (click)="save()" class="btn btn-primary submit-form me-2">Guardar</button>
                                        <!--<button type="button" class="btn btn-primary cancel-form">Cancel</button>-->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
